---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Fly me to the moon" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    <!-- Astro is a new kind of site builder for the -->
    <!-- <span class="text-primary">modern</span> web. -->
    <!-- <span class="text-primary">Lightning-fast</span> -->
    <!-- performance meets <span class="text-primary">powerful</span> developer experience. -->
    Poé ui pé có bít vì seo mà anh lại chọn một câu hát của Frank Sinatra và theme là 
    <span class="text-primary">mặt trăng </span> khum ? <br>
    <br>
      Tại vì có những khoảng khắc gần cuối đầu gục ngã những vẫn ngẩn đầu lên ngắm nhìn mặt trăng. <br>
    <br>
      Póe ui pé fly me lên mấy tầng mây khi đang ở cùng á biết khum ?  <br>
    người cứ lân lân lẫn lẫn ở cung trăng 
    <span class="text-primary">mãi không muốn về.</span> 
    
  </Fragment>
</ContentSection>
